window#waybar {
	font-family: "Terminess Nerd Font Propo";
    font-size: 16px;
    background-color: rgba(19, 22, 32, 1);
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 0.5s;
    border: 1px solid rgba(199, 212, 255, 1);
    padding: 0;
}
#clock, 
#custom-date, 
#cpu, 
#memory, 
#mpd,
#gamemode {
	background-color: transparent;
	color: rgb(225, 237, 255);
}
#custom-separator {
	font-weight: bold;
	margin: 0 16px 0 16px;
	color: #FF4BA8;
}
#custom-separator2 {
	font-size: 20px;
	margin: 0 4px 0 4px;
	color: rgba(225, 237, 255,0.7);
}
#custom-wrapper_l {
	font-size: 16px;
	margin: 0 10px 0 8px;
	color: whitesmoke;
}
#custom-wrapper_r {
	font-size: 16px;
	margin: 0 12px 0 10px;
	color: whitesmoke;
}
#workspaces {
    font-family: "D2CodingLigature Nerd Font Propo";
	font-size: 25px;
	transition: 0.1s;
    background-color: transparent;
	margin: 0;
}
#workspaces button {
	min-width: 13px;
    background-color: inherit;
	margin: 0;
    padding: 0;
    color: #FF4BA8;
}
#workspaces button:hover {
    color: rgba(255, 225, 225, 1);
    background-color: inherit;
}
#workspaces button.active {
    color: white;
	transition: 0.05s;
}
#workspaces button.urgent {
    color: #FF4BA8;
}
#clock {
    min-width: 80px;
}
#custom-date {
    min-width: 240px;
}
#cpu {
    margin: 0 14px 0 0;
}
#memory {
    margin: 0;
}
#mpd {
}
#gamemode {
	font-size: 24px;
}
#gamemode.running {
    color: #FF4BA8;
}
#custom-network {
	font-size: 1.30em;
	margin: 0 0 0 6px;
	background-color: transparent;
	color: whitesmoke;
}
#custom-power {
    font-size: 24px;
    margin: 0 8px 0 0;
    background-color: transparent;
    color: #FF4BA8;
}
